body{
    background: url(bgTel.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#btn1 {
    top: 500px;
}

#btn2 {
    top: 200px;
}

#btn3 {
    top: 300px;
}

#btn4{
    top: 400px;
}

#btn5 {
    top: 100px;
}

div.button {
    background-color: #014FFE;
    color: #014FFE;
    border: none;
    border-radius: 30px;
    width: 500px;
    height: 80px;
    position: fixed;
    left: -435px;
    transition: .3s ease;
}

div.button:hover {
    background-color: #C1EC0B;
    position: fixed;
    left: 0px;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 5px 0px #014FFE;
}

div.button:active {
    background-color: #C1EC0B;
    transition: 0s;
    color: #ecf0f1;
}

div.actief {
    background-color: #C1EC0B;
    color: #014FFE;
    border: none;
    border-radius: 30px;
    width: 500px;
    height: 80px;
    position: fixed;
    left: -435px;
    transition: .3s ease;
}

div.actief:hover {
    background-color: #C1EC0B;
    position: fixed;
    left: 0px;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 5px 0px #014FFE;
}

h1{
    text-align: center;
}

.mobiel{
    display: block;
    margin-left: 39%;
    margin-top: 50px;
}

.instagram{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 900px;
    margin-top: 200px;
}
.snapchat{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 900px;
    margin-top: 20px;
}
.facebook{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 900px;
    margin-top: 20px;
}
.twitter{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 900px;
    margin-top: 20px;
}
.curioApp{
    display: block;
    width: 200px;
    height 200px;
    margin-left: 840px;
    margin-top: 7px;
}